spring:
  datasource:
    url: jdbc:mysql://mysql:3306/partitiondb?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: rootpassword
    driver-class-name: com.mysql.cj.jdbc.Driver
  sql:
    init:
      mode: never

server:
  port: 8080

logging:
  level:
    org.springframework.jdbc: DEBUG
    com.github.diegopacheco.sandboxspring: DEBUG